h2, h3 {
	font-weight: bold;
	text-align: center;
}

h2 {
	padding: 10rem 0 6rem;
}

h3 {
	font-size: 2.85rem;
}

.row {
	margin: 3rem 0;
}

.img-wrap {
	position: relative;
	text-align: center;
	display: block;
}

.img-wrap img {
	width: 80%;
}

.hover-text {
	position: absolute;
	top: 0;
	width: 80%;
	left: 10%;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 1.5rem;
	background: rgba(91,20,194,0.7);
	color: #fff;
	font-size: 2.25rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: .15s;
	visibility: hidden;
	opacity: 0;
}

.hover-text a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding-top: 50%;
	display: block;
	height: 100%;
}

.hover-text p {
	padding-top: 50%;
}

.img-wrap:hover .hover-text {
	opacity: 1;
	visibility: visible;
}