---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "proxima-nova";

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

.nomargin {
  margin: 0 !important;
  padding: 0;
}
$font-family-sans-serif: "Proxima Nova", "Helvetica Neue", sans-serif;
$jumbotron-bg: #FFFFFF;
$brand-primary: rgba(17, 113, 119, 0.63);
$brand-success: rgba(0, 189, 255, 0.63);
$btn-border-radius-base: 90px;
$btn-default-bg: rgba(20, 184, 194, 0.63);
$btn-default-font-weight: 400;

$font-size-h1: 3.5em !important;
$font-size-h2: 5em;

p {
  font-weight: 400 !important;
}

@import "bootstrap";
@import "text-align";
@import "hero";
@import "numbers";

$polygon: polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
$polygon-reverse: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0 100%);

#map {
  width: 100%;
}
.site-title {
  font-weight: bold;
  color: $gray;
  font-size: 2em;
}

.section {
  margin: 0;
  margin-top: -48px;
  color: #FFFFFF;
  .row {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  h3 {
    font-weight: 600;
    margin: 0;
    font-size: 4em;
  }
  ul.list-group {
    margin: 20px;
    color: #262626;
    width: 80%;
  }
}

.rhomb1 {
  background: url(/assets/rhomb1.svg) no-repeat top left;
  // @include box-shadow(0px, 0px, 10px, #000000, true);
  background-size: cover;
  color: #FFFFFF;
  h2 {
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: 2em !important;
  }
}
.list-group-item-heading {
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}
.list-group-item {
  figure {
    margin-right: 1em;
  }
}
.panel-title {
  font-weight: 600;
  font-size: 2em;
}
.panel-body {
  color: #262626;
}
.badge {
  font-size: 1.2em;
}

.rhomb2 {
  background-color: $brand-success;
  .list-group-item-heading {
    font-weight: 600;
    font-size: 1.8em;
  }
  .list-group-item-text {
    font-size: 1.5em;
  }
}

.rhomb3 {
  background-color: rgba(20, 194, 90, 0.8);
}

.rhomb4 {
  background-color: #4B4B4B;
  h2 {
    font-weight: 600;
  }
}

.rhomb5 {
  background-color: rgba(20, 74, 194, 0.8);
}
.rhomb6 {
  background-color: rgba(91, 20, 194, 0.8);
}

.rhomb7 {
  background-color: rgba(20, 194, 90, 0.8);
  z-index: 0;
  .btn {
      text-align: center;
      width: 200px;
      font-size: 2em;
  }
}
#apply {
  .btn {
      width: 200px;
      font-size: 1.5em;
  }
}


.poly {
  -webkit-clip-path: $polygon;
  clip-path: $polygon;
}
.poly2 {
  -webkit-clip-path: $polygon-reverse;
  clip-path: $polygon-reverse;
}

.faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.faqItem {
  display: inline-block;
  margin: 1em;
  h4 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
  }
}

@media (min-width: 610px) {
  .faqItem {
    flex-basis: 30%;
  }
}
@media (max-width: 600px) {
  .faqItem {
    flex-basis: 100%;
  }
  .rhomb7 {
    margin-top: 15px;
  }
}
