* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  padding: 1rem 1.5rem 0 2rem;
  border-bottom: 1px solid #aaa;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: white;
}

.left { float: left; }
.right { float: right; padding-right: 1rem; }

nav .logo {
  height: 50px;
  width: auto;
  display: inline-block;
}

.hacks {
  vertical-align: top;
  display: inline-block;
  padding-top: .5rem;
  padding-left: .35rem;
  font: 700 2.5rem Raleway;
  text-decoration: none;
}

.center-block {
  width: 100%;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: .9rem .5rem;
}

nav a {
  display: inline-block;
  padding-bottom: 2.5px;
  font: 400 2.25rem Raleway;
  color: #222;
  text-transform: uppercase;
  letter-spacing: -.75px;
  text-decoration: none;
  transition :.2s;
  border: 3px solid transparent;
}

nav a:hover, nav a:active {
  border-bottom: 3px solid #7c43ce;
  text-decoration: none !important;
}

nav .left a:hover, nav .left a:active {
  border-bottom: 3px solid transparent;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
    position: static;
  }
  nav li {
    display: block;
  }
  .left, .right {
    display: block;
    float: none;
  }
}