---
---
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,p,li,a,span { font-family: Muli, Helvetica, Arial, sans-serif }
body { background: linear-gradient(#06030a, #361b59) fixed }
header, footer { text-align: center }

/* ----------------------------- GLOBAL NAVIGATION ----------------------------- */
#global-nav {
	padding: 3em;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}
#global-nav li, nav li { /* applies to footer nav too */
	display: inline-block;
	margin: 0 1.5rem;
}
#global-nav li a, #global-nav .logo {
	text-transform: uppercase;
	color: #bbb;
	font-size: 1.35rem;
	text-decoration: none;
	display: block;
	padding: 1rem 0 .5rem;
	border-bottom: 1px solid transparent;
	transition: .1s;
}
#global-nav li a:hover, #global-nav li a:active, #global-nav .logo:hover, #global-nav .logo:active {
	border-bottom: 1px solid pink;
	color: #eee;
}

/* ----------------------------- HOMEPAGE HEADER ----------------------------- */
header {
	padding: 1.75rem 2.5rem 5rem !important;
	width: 66.66667%;
	margin: auto;
}
.header-logo {
	width: 400px;
}
header h1, header h2, header h3, header h4{
	color: #eee;
	margin-bottom: 1.5rem;
	font-weight: 300;
	letter-spacing: .05em;
}
header h1 {
	font-size: 2.25rem;
	margin-top: 2.5rem;
}
header h2 {
	text-transform: uppercase;
	font-size: 1.75rem;
	margin-bottom: 2.5rem;
	font-weight: 300;
	line-height: 135%;
}
header .button {
	margin: .5rem;
}
header h4 {
	font-size: 1.5rem;
	margin-top: 2.0rem;
}

/* ----------------------------- BUTTON-LIKE THINGS  ----------------------------- */
.button {
  display: inline-block;
  padding: .6em 1.1em;
  color: #bbb;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0,0,0,.25);
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  transition: .15s;
}
.button:hover, .button:focus {
  color: #eee;
  border-color: #eee;
  outline: 0; }
.button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover, .button.button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* ----------------------------- ANIMATED SVG LOGO ----------------------------- */
svg {
  display: block;
  margin: 6rem auto 0;
  transform: scale(2);
  overflow: visible;
}
@keyframes skew-M {
  0% { transform: none }
  80% { transform: skewy(15deg) translate(-10px, 4.5px) }
  100% { transform: skewy(15deg) translate(-10px, 4.5px) }
}
@keyframes skew-A {
  0% { transform: none }
  80% { transform: skewy(-15deg) translate(10px, 62.5px) }
  100% { transform: skewy(-15deg) translate(10px, 62.5px) }
}
@keyframes M-shadow {
  0% { fill: transparent }
  40% { fill: transparent }
  100% { fill: #985cd6 }
}
@keyframes A-shadow {
  0% { fill: transparent }
  40% { fill: transparent }
  100% { fill: #7e33cc }
}
.letter { fill: #5cc2d6 }
.shadow {
  fill: transparent;
  -webkit-animation: 3s forwards M-shadow;
  animation: 3s forwards M-shadow;
}
#A-shadow {
  fill: transparent;
  -webkit-animation: 3s forwards A-shadow;
  animation: 3s forwards A-shadow;
}
#M {
  -webkit-animation: 3s forwards skew-M;
  animation: 3s forwards skew-M;
}

#A {
  -webkit-animation: 3s forwards skew-A;
  animation: 3s forwards skew-A;
}

/* ----------------------------- CONTENT STRUCTURE ----------------------------- */
.half, .third {
	display: table-cell;
	vertical-align: top;
}
.half {
	width: 49%;
}

article {
	position: relative;
	z-index: 0;
}
.row { margin: .75rem 0 }
section, footer {
	display: table;
	width: 80%;
	margin: auto;
}

.question-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.sponsor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

#img1 { background: url({{ site.home_img1_url }}) center / cover no-repeat }
#img2 { background: url({{ site.home_img2_url }}) center / cover no-repeat }
.third:last-child { padding-right: 0; }
img { max-width: 100% }
.person {
	display: inline-block;
	margin: 1rem;
}
#sponsors .third { text-align: center }

/* ----------------------------- CONTENT TYPOGRAPHY ----------------------------- */
p {
	line-height: 150%;
	font-size: 1.3rem;
	color: #222;
}
p, h1, h2, h3 { margin: 1.15rem 0 }
section h1 {
	position: relative;
	z-index: 1;
	display: inline-block;
	font-weight: 900;
	font-size: 2.5rem;
	letter-spacing: -.5px;
	line-height: 100%;
}
section h1:after, .gradient-underline:after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: .2em;
  background: linear-gradient(to left, #5cc2d6, #985cd6);
  z-index: -1;
  transition: .15s;
}
section h1:hover:after, .gradient-underline:hover:after {
  height: .5em;
  top: -.3em; /* difference btwn initial and final underline thickness */
  margin-bottom: -.3em; /* difference btwn initial and final underline thickness */
}
h2 { font: bold 1.9rem/120% Muli, Helvetica, Arial, sans-serif }
h3 { font: bold 1.5rem/120% Muli, Helvetica, Arial, sans-serif }
li { list-style-position: inside }

/* ----------------------------- FORM ----------------------------- */
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 48rem;
}

.form {
	padding: 1rem;
	margin: 2rem auto 0;
	background-color: white;
	text-align: left;


	.field {
		margin-bottom: .5rem;
	}

	.sectionTitle {
		margin: 0;
	}

	.sectionByline {
		margin: 0;
		margin-bottom: .5rem;
	}

	.fieldName {
		padding: 0;
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
	}

	.fieldInput {
		height: 2.5rem;
		width: 100%;
		font-size: 1rem;
	    padding: .5rem;
	    border-width: .0125rem;
	    border-color: #BEBEBE;
	    border-style: solid;
	}

	.thickerBorder {
		border-width: .05rem;
	    border-color: #BEBEBE;
	    border-style: solid;

	}

	.fieldInput:focus {
		border-style: solid;
	    border-width: .125rem;
	    border-image-source: linear-gradient(#5cc2d6, #985cd6, #361b59);
	    border-image-slice: 1;
	    outline: none;
	}

	.fieldGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: .5rem;
	}

	.submit {
	    padding: .5rem 1rem;
	    color: #ffffff;
	    text-align: center;
	    font-size: 1.25rem;
	    text-decoration: none;
	    background-color: #33C3F0;
	    cursor: pointer;
	    box-sizing: border-box;
	    transition: .15s;
	    border-width: 0;
	}

	.submit:hover {
		background-color: #1EAEDB;
	}

	.space {
		margin-top: 1rem;
	}

	.space-bottom {
		margin-bottom: .5rem;
	}
}


/* ----------------------------- ABOUT ----------------------------- */
.bio {
	display: grid;
	grid-template-columns: 1fr 2fr;
	p {
		margin: 0;
		overflow: hidden;
	}
	p img {
		width: 100%;
	}

	p img:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	margin-bottom: .5rem;
}

.bio--info {
	padding-left: 2rem;
	h3 {
		margin: 0;
	}
	h3 + p {
		margin-bottom: .5em;
	}
}

.alumni {
	li {
		font-size: 1.25em;
		margin-bottom: .125rem;
	}
}

/* ----------------------------- CONTAINER STYLE MODIFICATIONS ----------------------------- */
.headline {
	background: #fff;
	padding: 5%;
}
.centered {
	text-align: center;
	margin-bottom: 2rem;
}
.light-on-dark {
	background: #222;
	color: #fff;
}

.question-grid div {
	text-align: center;
}

.sponsor-grid div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sponsor-grid div a img {
	max-height: 15rem;
}

.light-on-dark p { color: #ccc !important }
.light-on-dark a { color: #fff !important }
.top-inset-box-shadow { box-shadow: inset 0 10px 25px -15px #000 }

/* ----------------------------- FOOTER ----------------------------- */
footer {
	background: #fff;
	padding: 1.5rem 2rem 2.5rem;
}
.social-icon { width: 40px }

/* ----------------------------- MEDIA QUERIES ----------------------------- */
@media (max-width: 1200px) {
	.question-grid { grid-template-columns: 1fr }
	#global-nav li { margin: 0 .75rem }
	header h1 { font-size: 1.65rem; margin-bottom: .75rem }
	header h2 { font-size: 1.35rem }
	.half, .third { width: 100%; display: block }
	.img { height: 275px }
	svg { transform: scale(1.35) }
	article { padding: 2rem !important }
}
@media (max-width: 700px) {
	.sponsor-grid { grid-template-columns: 1fr }
	section { display: block }
	header, section, footer { width: 100% }
	#global-nav { padding: 2rem }
	header { padding-top: 0 }
	#nav-links li { display: block }
	#nav-links li a { padding: 1rem 0 0; }
	svg { transform: scale(1) }
	.bio {
		grid-template-columns: unset;
		grid-template-rows: 1fr auto;
		margin-bottom: 1rem;
		.bio--info {
			padding-left: 0;
		}
	}
}
