# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: MAHacks
email: info@mahacks.com
description: > # this means to ignore newlines until "baseurl:"
  New England's newest High School hackathon on December 3rd 2016.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://mahacks.github.io" # the base hostname & protocol for your site - TODO: change to .com
twitter_username: jekyllrb
github_username:  mahacks

# Build settings
markdown: kramdown
sass:
  sass_dir: _sass

exclude: [node_modules, gulpfile.js]
