---
title: Home
layout: barebones
---
		<header>
			<svg width="260" height="180">
				<polygon id="M-shadow-left" class="shadow" points="-10,2 23,-5 73,70 50.2,92.85"></polygon>
				<polygon id="M-shadow-right" class="shadow" points="110,34 140,27 140,125 110,134"></polygon>
				<polygon id="A-shadow" class="shadow" points="205,7.5 172.5,5 140,70 140,125"></polygon>
				<polygon id="M" class="letter" points="0,0 0,100 120,100 120,0 60,75"></polygon>
				<polygon id="A" class="letter" points="130,100 260,100 195,0"></polygon>
			</svg>

			<h1><b>MAHacks</b>: The Start of Something Awesome</h1>
			<h2>May 2019 | Boston, MA</h2>
			
			<a href="subscribe" class="button button-primary">Subscribe for Updates!</a>
		</header>

		<section>
			<article class="headline half">
				<h1>About MAHacks</h1>
				
				<p>MAHacks is a hackathon for high schoolers, by high schoolers! Hackathons are fun events, often 12 or 24 hours, for diving deep and brainstorming, designing, developing, and presenting projects.</p>

				<p>In the past, we've held events at MIT, Canopy Coworking City, Upstatement, and WordStream. Join us for <b>MAHacks V</b> in May 2019, in Boston! More details soon.</p>

				<a href="subscribe" class="button button-primary">Subscribe for Updates!</a>
			</article>

			<article class="half img" id="img1"> </article>
		</section>
		
		<section>
			<article class="half img" id="img2"> </article>

			<article class="half headline">
				<h1>Where entrepreneurship meets technology</h1>

				<p>We strive to bring together students with <b>diverse interests and backgrounds</b> to build projects that <b>solve community problems</b>. We want your hacks to <b>grow beyond our events</b> and <b>create real impact</b>, and we'll help you get there.</p>

				<p>In addition to typical hackathon prizes like quadcopters and cool tech, MAHacks strives to connect students to <b>mentors (e.g. company office tours, introductions to professional developers), accelerators/incubators (e.g. Boston Children's Hospital Accelerator), and learning opportunities (e.g. MIT Beaver Works Summer Institute)</b>.</p>
			</article>
		</section>

		<section id="faq">
			<article class="headline light-on-dark top-inset-box-shadow">
				<div class="centered">
					<h1>FAQ</h1>

					<p><i>The quintessential part of any hackathon's homepage.</i></p>
				</div>

				<div class="row">
					<div class="third">
						<h3><center>What the heck is a hackathon?</center></h3>
						<p>A hackathon is a fun event where students work together to brainstorm, code, design, and present projects, such as apps, websites, and hardware. At MAHacks, you can expand your skills, make new friends, and create something valuable!</p>
					</div>
					
					<div class="third">
						<h3><center>Can I go to MAHacks?</center></h3>
						<p>High schoolers from any school, including homeschool, are welcome! Middle school students are allowed on a case-by-case basis. Reach out to us at <a href="mailto:info@mahacks.com">info@mahacks.com</a>. Unfortunately, we cannot allow parents or teacher chaperones at the event.</p>
					</div>
					
					<div class="third">
						<h3><center>How much will it cost?</center></h3>
						<p>Nothing. Period. There will be workshops, prizes, swag, food, and fun, all at zero cost to you.</p>
					</div>
				</div>

				<div class="row">
					<div class="third">
						<h3><center>How do teams work?</center></h3>
						<p>Teams are made of 2-4 members and can submit a project as a group. If you don't have a team, don't worry! We'll have a team formation session to help you find other people to work with.</p>
					</div>

					<div class="third">
						<h3><center>What if I've never coded before?</center></h3>
						<p>We’ll have workshops to teach anyone the basics of coding, but it’s not required. Teams often need designers, artists, writers, and anyone who can contribute. Most teams benefit from non-programmers!</p>
					</div>

					<div class="third">
						<h3><center>I don’t have an idea!</center></h3>
						<p>Most people come to hackathons with no idea what they’re going to do, and that’s totally fine. We’ll be demoing many company APIs and hardware, and you can work with their products!</p>
					</div>
				</div>

				<div class="row">
					<div class="third">
						<h3><center>Are there travel reimbursements?</center></h3>
						<p>Unfortunately, we cannot reimburse participants’ travel expense at this time. :/ However, feel free to contact us at <a href="mailto:info@mahacks.com">info@mahacks.com</a> for travel advice.</p>
					</div>

					<div class="third">
						<h3><center>What should I bring?</center></h3>
						<p>You need something to hack with (like your laptop) and its charger. For an overnight event, don't forget toiletries, a pillow, and a blanket. And most importantly, bring a willingness to learn and have fun!</p>
					</div>

					<div class="third">
						<h3><center>What's the event schedule?</center></h3>
						<p>MAHacks V will be in May 2019. We'll release a detailed schedule, including workshops and special activities, soon!</p>
					</div>
				</div>

				<div class="row">
					<div class="third">
						<h3><center>I'm a college student/professional interested in getting involved. How can I mentor?</center></h3>
						<p>Mentors can be college students and professionals skilled in software, mobile, or hardware development, graphic design, marketing, project management, or any area useful for hackathon participants. Mentors are free to work with multiple teams and guide them through issues, technical or otherwise, they're facing.</p>
					</div>

					<div class="third">
						<h3><center>How can I sponsor?</center></h3>
						<p>Companies and organizations are welcome to provide monetary support for MAHacks. We also connect participants to mentors (e.g. office tours, chats with professional developers), accelerators/incubators (e.g. Boston Children's Hospital Accelerator), and learning opportunities (e.g. MIT Beaver Works Summer Institute). Reach out at <a href="mailto:info@mahacks.com">info@mahacks.com</a> and we'll be happy to learn about your organization and discuss further.</p>
					</div>

					<div class="third">
						<h3><center>What if I have another question?</center></h3>
						<p>Feel free to email us at <a href="mailto:info@mahacks.com">info@mahacks.com</a>, and we’ll get back to you as soon as possible!</p>
					</div>
				</div>
			</article>
		</section>

		<section id="sponsors">
			<article class="headline top-inset-box-shadow">
				<div class="centered">
					<h1>Sponsors</h1>
					<p><i>Thank you to all of our sponsors! Without your help, MAHacks wouldn't be possible.</p></i>
					<a href="sponsor" class="button button-primary">Interested in sponsoring? Click here!</a>
				</div>
					{% for sponsor in site.sponsors %}
					<div class="third">
						<a href="{{ sponsor.link }}">
							<img src="{{ sponsor.logo_relative_url | prepend: "/sponsor_logos/" | prepend: site.url }}" alt="{{ sponsor.name }}">
						</a>
					</div>
				{% endfor %}
					<div class="centered">
					<br>
					<h1>Past Sponsors</h1>
				</div>

				{% for sponsor in site.past_sponsors %}
					<div class="third">
						<a href="{{ sponsor.link }}">
							<img src="{{ sponsor.logo_relative_url | prepend: "/sponsor_logos/" | prepend: site.url }}" alt="{{ sponsor.name }}">
						</a>
					</div>
				{% endfor %}
			</article>
		</section>


<!-- For live chat support -->
<script src="https://embed.small.chat/TAWK8MXLKGBTJK8RT8.js" async></script>
