<div class="col-xs-12 faq">
  <div class="faqItem">
    <h4>What's a hackathon?</h4>
    <p>A hackathon is a 24 hour coding event where students and developers work together to create products and designs. There will be a lot of free stuff, free food, and prizes!</p>
  </div>
  <div class="faqItem">
    <h4>Who can come?</h4>
    <p>Any high schooler interested is welcome!</p>
  </div>

  <div class="faqItem">
    <h4>How much will it cost?</h4>
    <p>Nothing. Period. There will be workshops, prizes, free swag, free food, and lots of fun, at zero cost to you. </p>
  </div>
  <!--<div class="faqItem">
    <h4>I have the ACT that day :(</h4>
    <p>We know the ACT is on June 10th, you can come later in the day on Saturday and still check in. Just shoot us an email!</p>
  </div>-->
  <div class="faqItem">
    <h4>What if I've never coded before?</h4>
    <p>We’ll have workshops to teach anyone the basics of coding - but it’s not required. Teams often need designers, artists, writers and anyone who can contribute. Most teams actually benefit from non-programmers!</p>
  </div>
  <div class="faqItem">
    <h4>How do teams work?</h4>
    <p>Each team is capped at four members. Each team has the option to submit their project for judging. </p>
  </div>
  <div class="faqItem">
    <h4>I don’t have a team?</h4>
    <p>For the first couple of hours, we will help you network with other students. You can find people you want to work with and make a team on the day of!</p>
  </div>
  <div class="faqItem">
    <h4>Do I need to stay overnight?</h4>
    <p>You don't have to stay overnight, you may leave at any point on Saturday night and come back on Sunday morning if you so choose!</p>
  </div>
  <div class="faqItem">
    <h4>I don’t have an idea?</h4>
    <p>Most people come to hackathons with no idea what they’re going to do, and that’s totally fine. We’ll be demoing many company API’s and hardware, and you can work with their products!</p>
  </div>
  <div class="faqItem">
    <h4>What should I bring?</h4>
    <p>You need a photo ID and something to hack with (like your laptop) and its charger. We recommend you also bring toiletries and a sleeping bag if you need them.</p>
  </div>
  <div class="faqItem">
    <h4>What if I have another question?</h4>
    <p>Feel free to email us at info [at] mahacks.com, and we’ll get back to you as soon as possible!</p>
  </div>
</div>
