<ul class="list-group faq">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">How much does it cost?</h4>
    <p class="list-group-item-text">Nothing. Period.
There will be workshops, prizes, free swag, free food and lot of fun at 0 cost to you.</p>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">How do teams work?</h4>
    <p class="list-group-item-text">Each team is capped at four members. Each team has the option to submit their project for judging.</p>
  </li>
</ul>
