		<footer class="top-inset-box-shadow">
			<h3>Copyright MAHacks 2019</h3>
			<p>Fiscally sponsored by The Hack Foundation.</p>
			<p>Nonprofit EIN: 81-2908499.</p>
			<nav>
				<ul>
					{% for platform in site.social_media %}
						<li><a href="{{ platform.url }}"><img class="social-icon" src="{{ platform.icon_url | prepend:site.url }}" alt="{{ platform.name }}"></a></li>
					{% endfor %}
				</ul>
			</nav>
		</footer>
		<script>var scroll = new SmoothScroll('a[href*="#"]')</script>
	</body>
</html>
