<div class="jumbotron hero">
  <video autoplay="autoplay" loop="loop" src="assets/boston.mp4" muted="muted" class="bigvid"></video>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <img class="center-block" src="assets/logo.svg" />
      </div>
      <div class="col-sm-8 text-right-not-xs text-center-xs">
        <h1>New England's High School Hackathon</h1>
        <p><time></time></p>
        <p><place></place></p>
        <div class="pull-right">
          <a class="btn btn-success" href="https://mahacks.typeform.com/to/zrxjbo" role="button">Pre-Register</a>
          <a class="btn btn-default" href="https://mahacks.typeform.com/to/dI6ZMH" role="button">Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</div>
