<div class="jumbotron hero">
  <video autoplay="autoplay" loop="loop" src="assets/boston.mp4" muted="muted" class="bigvid"></video>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <img class="center-block" src="assets/logo.svg" />
      </div>
      <div class="col-sm-8 text-right-not-xs text-center-xs">
        <h1>New England's High School Hackathon</h1>
        <p><time datetime="2017-06-10">June 10-11th 2017</time></p>
        <p><place>Canopy City Coworking, Somerville, MA</place></p>
        <div class="pull-right">
          <a class="btn btn-success" href="https://www.hackerearth.com/sprints/mahacks-spring-2017/" role="button">Register</a>
          <a class="btn btn-default" href="https://mahacks.typeform.com/to/dI6ZMH" role="button">Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</div>
