<div class="jumbotron hero">
  <video autoplay="autoplay" loop="loop" src="assets/boston.mp4" muted="muted" class="bigvid"></video>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <img class="center-block" src="assets/logo.svg" />
      </div>
      <div class="col-sm-8 text-right-not-xs text-center-xs">
        <h1>New England's High School Hackathon</h1>
        <p><time>Saturday December 3rd</time></p>
        <p><place>MIT Stata Center 32 Vassar Street Cambridge MA</place></p>
        <div class="pull-right">
          <a class="btn btn-success" href="https://localhackday.mlh.io/register/?id=boston-22060ccf-4aa5-4aea-ac23-6a63d66eb269" role="button">Register</a>
          <a class="btn btn-default" href="mailto:info@mahacks.com" role="button">Sponsor</a>
        </div>
      </div>
    </div>
  </div>
</div>
