<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/ma.png" width="70" height="70">hacks</a>
    </div>
    <div class="collapse navbar-collapse">
    <p class="nav navbar-text navbar-right">
      <p><a href="{{ 'past-events' | preprend: site.baseurl }}">Past Events</a></p>
      <a href="https://www.facebook.com/mahacks" class="navbar-link"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    </p>
  </ul>
  </div>
</nav>
