  <nav>
    <ul class="left">
      <a href="/">
        <img class="logo" src="{{ 'assets/logo.png' | prepend: site.baseurl }}" alt=""><span class="hacks">HACKS</span>
      </a>
    </ul>

    <ul class="right">
      <li><a href="{{ 'about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ 'past-events' | prepend: site.baseurl }}">Past Events</a></li>
      <li><a href="{{ 'register' | prepend: site.baseurl }}">Register</a></li>
      <li><a href="{{ 'mentor' | prepend: site.baseurl }}">Mentor</a></li>
      <li><a href="{{ 'sponsor' | prepend: site.baseurl }}">Sponsor</a></li>
    </ul>
  </nav>