<table class="schedule table table-condensed">
  <tr>
    <th>7AM - 8:30AM</th>
    <th>Check-in and networking</th>
  </tr>
  <tr>
    <th>8:30AM - 9AM</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>9AM</th>
    <th>Hacking begins!</th>
  </tr>
  <tr>
    <th>1PM</th>
    <th>Lunch</th>
  </tr>
  <tr>
    <th>1-6PM</th>
    <th>Workshops and activities</th>
  </tr>
  <tr>
    <th>9PM</th>
    <th>Hacking ends</th>
  </tr>
  <tr>
    <th>9PM-10PM</th>
    <th>Expo and Closing Ceremony</th>
  </tr>
</table>
