<table class="schedule table table-condensed">
  <tr>
    <th>8am</th>
    <th>Check in and networking</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>12pm</th>
    <th>Lunch and Team formation</th>
  </tr>
  <tr>
    <th>1pm</th>
    <th>Hacking begins</th>
  </tr>
  <tr>
    <th>1-6pm</th>
    <th>Workshops and activities</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
  <tr>
    <th>10am</th>
    <th>Introduction and speeches</th>
  </tr>
</table>
