<p class="nomargin"><tr>
    <th>Saturday</th>
  </tr></p>
<table class="schedule table table-condensed">
  <tr>
    <th>7:30 AM</th>
    <th>Registration Opens + Team Formation</th>
  </tr>
  <tr>
    <th>8:30 AM</th>
    <th>Opening Ceremony</th>
  </tr>
  <tr>
    <th>9:00 AM</th>
    <th>Hacking Begins</th>
  </tr>
  <tr>
    <th>12:00 PM</th>
    <th>Lunch</th>
  </tr>
  <tr>
    <th>6:00 PM</th>
    <th>Dinner</th>
  </tr>
  <tr>
    <th>9:00 PM</th>
    <th>Hacking Ends + Judging Period Begins</th>
  </tr>
  <tr>
    <th>10:00 PM</th>
    <th>Closing Ceremony</th>
  </tr>
</table>
<p class="nomargin">
  <tr>
    <th>Workshop Schedule</th>
  </tr>
</p>
<table class="schedule table table-condensed">
  <tr>
    <th>9:00 AM</th>
    <th>Workshop: Hackathons 101</th>
  </tr>
  <tr>
    <th>9:30 AM</th>
    <th>Workshop: User Experience Design</th>
  </tr>
  <tr>
    <th>10:00 AM</th>
    <th>Workshop: Medical Technologies Track</th>
  </tr>
  <tr>
    <th>10:30 AM</th>
    <th>Workshop: Education Track</th>
  </tr>
  <tr>
    <th>11:00 AM</th>
    <th>Workshop: Creating a Web API with Rails</th>
  </tr>
  <tr>
    <th>11:00 AM</th>
    <th>Workshop: Creating Twitter Bots</th>
  </tr>
   <tr>
    <th>3:00 PM</th>
    <th>Workshop: How to Organize Hackathons</th>
  </tr>
  <tr>
    <th>6:00 PM</th>
    <th>Workshop: How to Pitch Your Idea</th>
  </tr>
</table>
