<div class="list-group">
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/canopy.jpg" class="center-block img-rounded" width="250">
  </a>
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/papa-johns.jpg" class="center-block img-rounded" width="250">
  </a>
    <a href="#" class="list-group-item">
      <img src="assets/sponsors/radix.svg" class="center-block img-rounded" width="250">
    </a>
      <a href="#" class="list-group-item">
        <img src="assets/sponsors/chipotle.jpg" class="center-block img-rounded" width="250">
      </a>
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/hackerearth.png" class="center-block img-rounded" width="250">
  </a>
<a href="#" class="list-group-item">
<img src="assets/sponsors/muse.png" class="center-block img-rounded" width="250">
</a>
<a href="#" class="list-group-item">
<img src="assets/sponsors/ycities.png" class="center-block img-rounded" width="200">
</a>
<a href="#" class="list-group-item">
<img src="assets/sponsors/epiic.png" class="center-block img-rounded" width="200">
</a>
<a href="#" class="list-group-item">
<img src="assets/sponsors/ktbyte.png" class="center-block img-rounded" width="200">
</a>
<a href="#" class="list-group-item">
<img src="assets/sponsors/gunnar.png" class="center-block img-rounded" width="200">
</a>
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/balsamiq.png" class="center-block img-rounded" width="250">
  </a>
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/jetbrains.png" class="center-block img-rounded" width="250">
  </a>
  <a href="#" class="list-group-item">
    <img src="assets/sponsors/chunkhost.png" class="center-block img-rounded" width="250">
  </a>
</div>
