<div class="list-group">
  <a href="https://www.stickeryou.com">
    <img src="assets/stickeryou-min.png" alt="StickerYou" class="center-block" width="250">
  </a>
  <a href="http://www.canopy.city/" class="list-group-item">
    <img src="assets/sponsors/canopy.jpg" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.papajohns.com/" class="list-group-item">
    <img src="assets/sponsors/papa-johns.jpg" class="center-block img-rounded" width="250">
  </a>
    <a href="http://radix.website/dot-tech/" class="list-group-item">
      <img src="assets/sponsors/radix.png" class="center-block img-rounded" width="250">
    </a>

      <a href="https://www.starbucks.com/" class="list-group-item">
        <img src="assets/sponsors/starbucks.png" class="center-block img-rounded" width="200">
      </a>
      <a href="https://www.chipotle.com/" class="list-group-item">
        <img src="assets/sponsors/chipotle.jpg" class="center-block img-rounded" width="250">
      </a>
  <a href="https://www.hackerearth.com/recruiter/" class="list-group-item">
    <img src="assets/sponsors/hackerearth.png" class="center-block img-rounded" width="250">
  </a>
<a href="http://www.choosemuse.com/" class="list-group-item">
<img src="assets/sponsors/muse.png" class="center-block img-rounded" width="250">
</a>
<a href="http://youthcities.org/" class="list-group-item">
<img src="assets/sponsors/ycities.png" class="center-block img-rounded" width="200">
</a>
<a href="http://www.epiicsolutions.org/" class="list-group-item">
<img src="assets/sponsors/epiic.png" class="center-block img-rounded" width="200">
</a>
<a href="https://www.ktbyte.com/" class="list-group-item">
<img src="assets/sponsors/ktbyte.png" class="center-block img-rounded" width="200">
</a>
<a href="https://gunnar.com" class="list-group-item">
<img src="assets/sponsors/gunnar.png" class="center-block img-rounded" width="200">
</a>
  <a href="https://balsamiq.com/" class="list-group-item">
    <img src="assets/sponsors/balsamiq.png" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.jetbrains.com/" class="list-group-item">
    <img src="assets/sponsors/jetbrains.png" class="center-block img-rounded" width="250">
  </a>
  <a href="https://chunkhost.com/" class="list-group-item">
    <img src="assets/sponsors/chunkhost.png" class="center-block img-rounded" width="250">
  </a>
</div>
