<div class="list-group">
  <a href="https://www.upstatement.com" class="list-group-item" style="padding: 2.1rem 0 2rem;">
    <img src="assets/sponsors/upstatement-portrait-black.png" alt="Upstatement" class="center-block" width="250">
  </a>
  <a href="http://hackingpediatrics.health/" class="list-group-item">
    <img src="assets/sponsors/hackingpediatrics.jpg" alt="Hacking Pediatrics" class="center-block" width="250">
  </a>
  <a href="https://balsamiq.com/" class="list-group-item">
    <img src="assets/sponsors/balsamiq.png" alt="Balsamiq" class="center-block img-rounded" width="250">
  </a>
  <a href="http://www.intelladapt.com/" class="list-group-item">
    <img src="assets/sponsors/intelladapt.png" alt="IntellADAPT" class="center-block img-rounded" width="250">
  </a>
  <a href="http://www.soylent.com/" class="list-group-item">
    <img src="assets/sponsors/soylent.png" alt="Soylent" class="center-block img-rounded" width="250">
  </a>
  <a href="http://www.foursigmatic.com/" class="list-group-item">
    <img src="assets/sponsors/foursigmatic.png" alt="Four Sigmatic" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.stickeryou.com" class="list-group-item">
    <img src="assets/sponsors/stickeryou-min.png" alt="StickerYou" class="center-block" width="250">
  </a>
  <a href="https://www.stickermule.com" class="list-group-item">
    <img src="assets/sponsors/stickermule.png" alt="StickerMule" class="center-block" width="250">
  </a>
  <a href="https://www.quarterzero.com" class="list-group-item">
    <img src="assets/sponsors/quarterzero.jpg" alt="Quarter Zero" class="center-block" width="250">
  </a>
  <a href="https://beaverworks.ll.mit.edu/CMS/bw/bwsi" class="list-group-item">
    <img src="assets/sponsors/beaverworks.png" alt="MIT Beaverworks Summer Institute" class="center-block" width="250">
  </a>
  <a href="https://www.accion-systems.com/" class="list-group-item">
    <img src="assets/sponsors/accion.png" alt="Accion Systems" class="center-block" width="250">
  </a>
  <a href="http://commonwealthinstitute.org/" class="list-group-item">
    <img src="assets/sponsors/commonwealthinstitute.png" alt="Commonwealth Leadership Institute" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.kindsnacks.com/" class="list-group-item">
    <img src="assets/sponsors/kind.png" alt="KIND Snacks" class="center-block img-rounded" width="250">
  </a>
  <a href="https://ultrapress.com/" class="list-group-item">
    <img src="assets/sponsors/ultrapress.png" alt="Ultrapress" class="center-block img-rounded" width="200">
  </a>
  <a href="https://www.datacamp.com/" class="list-group-item">
    <img src="assets/sponsors/datacamp.png" alt="DataCamp" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.papajohns.com/" class="list-group-item">
    <img src="assets/sponsors/papa-johns.jpg" alt="Papa Johns" class="center-block img-rounded" width="250">
  </a>
  <a href="https://gunnar.com" class="list-group-item">
    <img src="assets/sponsors/gunnar.png" alt="Gunnar" class="center-block img-rounded" width="200">
  </a>
  <a href="http://radix.website/dot-tech/" class="list-group-item">
    <img src="assets/sponsors/radix.png" alt=".tech" class="center-block img-rounded" width="250">
  </a>
  <a href="https://www.summercodingacademy.hsa.net/" class="list-group-item">
    <img src="assets/sponsors/summercodingacademy.png" alt="Harvard Student Agencies Summer Coding Academy" class="center-block img-rounded" width="250">
  </a>
</div>