.hero {
  position: relative;
  max-width: 100%;
  h1 {
    color: $brand-primary !important;
    font-weight: 400 !important;
  }
  p {
    color: #6B6B6B !important;
    font-weight: 600;
  }
  .btn {
    font-size: 2em !important;
    color: #FFFFFF;
    width: 150px;
    margin-left: 10px;
    border: none;
  }
  .bigvid {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.3;
  }
  .container {
    z-index: 200;
  }
}
@media (max-width: 600px) {
  .bigvid {
    display: none;
  }
}
