<!-- original IP Address (to switch back) = 162.144.176.171 -->

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include nav.html %}
    {% include hero.html %}

    <div class="jumbotron rhomb1 section poly">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12 text-left-not-xs text-center-xs">
            <h2 class="center-block">Not your average hackathon</h2>
          </div>
          <div class="col-md-7 col-sm-12 text-right-not-xs text-center-xs">
              <p class="center-block">MAHacks is where high schoolers come together to hack with impact. Whether you're a seasoned developer or a beginning engineer, bring an idea or join a team and you'll create something unforgettable.</p>
          </div>
        </div>
      </div>
    </div>
    {% include numbers.html %}

    <div class="jumbotron rhomb7 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">About MAHacks</h3>
            <p>MAHacks is a student-driven initiative created for high school students by high school students. MAHacks hackathons are designed to inspire the next generation of creators, innovators, and engineers. We’re bringing hundreds of talented high school students to Cambridge to hack on all sorts of platforms.</p>

            <h3 class="center-block">Tracks</h3>
            <p>Our hackathon will promote tracks as hackathon themes. If you choose to submit as one of these hacks, you'll be eligible for a special prize. You don't have to follow a track to be eligible for the grand or API prizes!</p>

          </div>
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Events</h3>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">MAHacks Main Event</h4>
                <span class="badge"><time datetime="2017-06-10">June 10th</time></span>
              </div>
              <div class="panel-body">
                <p>Our main 24 hour event. June 10-11th, 2017!</p>
                 <a class="btn btn-success center-block" href="#apply" role="button">Register</a>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Local Hack Day</h4>
<!--                 <span class="badge pull-right">December 3rd</span> -->
              </div>
              <div class="panel-body">
                <p>Our first hackathon was a success! See pictures from our 12 hour event at the MIT Stata Center <a href="https://goo.gl/XN0Xvs">here</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="jumbotron rhomb5 section poly">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Augmented and Virtual Reality</h3>
            <p>Expand on the newest frontier of user experience. Construct virtual worlds and applications for our AR/VR prize category.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Urban Development</h3>
            <p>Have an idea to improve our city using technology? Disrupt urban living for the better in our City Hack prize category.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron rhomb6 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Health</h3>
            <p>Health is the best way to directly impact people's lives. Even the smallest differences can be huge, and our Health Hack prize is here to foster that.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Education</h3>
            <p>We're all here to learn, so why not add to that? Good education is an important part of any society. The best Education Hack gets their own prize.</p>
          </div>
        </div>
      </div>
    </div> -->

<!-- <div class="jumbotron rhomb2 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Featuring</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">500 Google Cardboards</h4>
                <p class="list-group-item-text">Develop in virtual reality.</p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Speakers from the industry</h4>
                <p class="list-group-item-text">Learn from the best.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Prizes</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Grand Prizes</h4>
                <p class="list-group-item-text">There are three grand pr</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <div class="jumbotron rhomb6 section poly">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-12" id="apply">
            <h3 class="center-block">Join</h3>
            <p>We'd love to have you this summer.</p>
            <p class="text-center">
            <a class="btn btn-success" href="https://www.hackerearth.com/sprints/mahacks-spring-2017/" role="button">Register</a>
            <p><place>Location: Canopy City Coworking, 14 Tyler St, Somerville, MA 02143</place></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.1577033364824!2d-71.10785758459001!3d42.381786841721805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3771883fe8405%3A0x37bd6b9006628a26!2sCanopy+City+Coworking!5e0!3m2!1sen!2sus!4v1492983635033" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </p>
          </div>
          <div class="col-sm-5 col-xs-12">
            <h3>Schedule</h3>
            {% include schedule.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron rhomb4 section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>FAQ</h2>
            {% include faq.html %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h2>sponsored by</h2>
            {% include sponsors.html %}
          </div>
          <div class="col-sm-6 col-xs-12">
            <h2 class="center-block">presented by</h2>
            <div class="list-group">
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/aman.jpg" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Aman Jha</h4>
                <span class="badge">Director</span>
                <p class="list-group-item-text">Needham High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/midori.png" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Midori Sangiolo</h4>
                <span class="badge">Director</span>
                <p class="list-group-item-text">Newton South High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/justin.jpg" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Justin Yu</h4>
                <span class="badge">Director</span>
                <p class="list-group-item-text">Winchester High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/anisha.jpg" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Anisha Agarwal</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Weston High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/isabella.jpg" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Isabella Aslarus</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Weston High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <img src="assets/jacob.jpg" class="img-circle" width="75px">
                </figure>
                <h4 class="list-group-item-heading" rel="author">Jacob Nazarenko</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">BU Academy</p>
              </a>
              <a class="list-group-item">
                <h4 class="list-group-item-heading" rel="author">Max Krieger</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Needham High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <!-- <img src="assets/jacob.jpg" class="img-circle" width="75px"> -->
                </figure>
                <h4 class="list-group-item-heading" rel="author">Mayank Mali</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Acton-Boxborough High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <!-- <img src="assets/jacob.jpg" class="img-circle" width="75px"> -->
                </figure>
                <h4 class="list-group-item-heading" rel="author">Nimish Garg</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">BU Academy</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <!-- <img src="assets/jacob.jpg" class="img-circle" width="75px"> -->
                </figure>
                <h4 class="list-group-item-heading" rel="author">Andrea Huang</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Winchester High School</p>
              </a>
              <a  class="list-group-item">
                <figure class="pull-left">
                  <!-- <img src="assets/jacob.jpg" class="img-circle" width="75px"> -->
                </figure>
                <h4 class="list-group-item-heading" rel="author">Jennifer Kim</h4>
                <span class="badge">Organizer</span>
                <p class="list-group-item-text">Winchester High School</p>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-97914095-1', 'auto');
ga('send', 'pageview');

</script>
    <!-- <a id="mlh-trust-badge" style="display:block;max-width:135px;min-width:60px;position:absolute;left:10px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a> -->
  </body>

</html>
