<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include hero.html %}

    <div class="jumbotron rhomb1 section poly">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12 text-left-not-xs text-center-xs">
            <h2 class="center-block">Not your average hackathon</h2>
          </div>
          <div class="col-md-7 col-sm-12 text-right-not-xs text-center-xs">
              <p class="center-block">MAHacks is where high schoolers come together to creatively solve problems with technology. It doesn't matter if you’re an experienced developer or have never touched code before.</p>
          </div>
        </div>
      </div>
    </div>
    {% include numbers.html %}
    <div class="jumbotron rhomb2 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-12">
            <h3 class="center-block">We've got:</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">500 Google Cardboards</h4>
                <p class="list-group-item-text">Develop in virtual reality.</p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Speakers from the industry</h4>
                <p class="list-group-item-text">Learn from the best.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-5 col-xs-12">
            <h3>Schedule</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">10:00am</h4>
                <p class="list-group-item-text">Doors open.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
