<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include hero.html %}

    <div class="jumbotron rhomb1 section poly">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12 text-left-not-xs text-center-xs">
            <h2 class="center-block">Not your average hackathon</h2>
          </div>
          <div class="col-md-7 col-sm-12 text-right-not-xs text-center-xs">
              <p class="center-block">MAHacks is where high schoolers come together to hack with impact. Whether you're a seasoned developer or a beginning engineer, bring an idea and you'll create something unforgettable.</p>
          </div>
        </div>
      </div>
    </div>
    {% include numbers.html %}

    <div class="jumbotron rhomb5 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Virtual Reality</h3>
            <p>Expand on the newest frontier of computing. Construct virtual worlds and applications with Google Cardboard for our VR prize category.</p>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Urban Development</h3>
            <p>Have an idea to improve our city using technology? Disrupt urban living for the better in our City Hack prize category.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron rhomb2 section poly">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h3 class="center-block">Featuring</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">500 Google Cardboards</h4>
                <p class="list-group-item-text">Develop in virtual reality.</p>
              </li>
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Speakers from the industry</h4>
                <p class="list-group-item-text">Learn from the best.</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h3>Prizes</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <h4 class="list-group-item-heading">Grand Prize</h4>
                <p class="list-group-item-text">The best hack gets a bagillion dollars.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron rhomb3 section poly2">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-xs-12" id="apply">
            <h3 class="center-block">Join</h3>
            <p>We'd love to have you.</p>
            <p>Location:</p>
          </div>
          <div class="col-sm-5 col-xs-12">
            <h3>Schedule</h3>
            {% include schedule.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron rhomb4 section">
      <div class="container">
        <div class="row">
          <h2 class="center-block">FAQ</h2>
          {% include faq.html %}
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h2>sponsored by</h2>
            {% include sponsors.html %}
          </div>
          <div class="col-sm-6 col-xs-12">
            <h2 class="center-block">presented by</h2>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
